/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ADD8E6; /* Celeste */
  color: #020202; /* Texto en negro */
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  color: #40E0D0; /* Turquesa */
  margin-bottom: 10px;
}

/* Dark mode */
body.dark-mode {
  background-color: #006666; /* Turquesa oscuro */
  color: #020202; /* Texto en negro */
}

.app {
  width: 100%;
  max-width: 100%; /* Asegura que el contenido ocupe el 100% del ancho */
  padding: 20px;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 30px;
  color: #020202; /* Texto en negro */
}

button {
  background-color: #40E0D0; /* Turquesa */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #008080; /* Turquesa más oscuro */
}

/* Navbar */
nav.navbar {
  width: 100%;
  margin: 0;
  padding: 0
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end; /* Para alinear los enlaces a la derecha */
}

.navbar-brand {
  color: #40E0D0; /* Turquesa */
}

.navbar-nav .nav-link {
  color: #40E0D0;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

/* En tu archivo styles.css */
#toggle-contrast {
  border: none;
  background: transparent;
  color: white; /* Cambia esto según el color deseado */
  font-size: 1.5rem; /* Tamaño del ícono */
  cursor: pointer;
  margin-left: 10px; /* Espaciado entre íconos */
}

#toggle-contrast:hover {
  opacity: 0.8; /* Efecto de hover */
}

/* Flex container */
.d-flex {
  display: flex;
  gap: 20px;
}

#sidebar {
  background-color: #FFFFFF; /* Blanco */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  flex: 0 0 100%; /* Ocupa todo el ancho en dispositivos pequeños */
  color: #020202; /* Texto en negro */
}

/* Responsividad */
@media (min-width: 768px) {
  #sidebar {
    flex: 0 0 25%; /* Ocupa un 25% en pantallas medianas y grandes */
  }
}

.flex-grow-1 {
  flex: 1;
  color: #020202; /* Texto en negro */
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #020202; /* Texto en negro */
}

input, select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #020202; /* Texto en negro */
}

input:focus, select:focus {
  outline: none;
  border-color: #40E0D0; /* Turquesa */
}

/* Task list */
.lista-de-tareas {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.lista-de-tareas li {
  background-color: #F9F9F9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #020202; /* Texto en negro */
}

.lista-de-tareas li .estado {
  font-weight: bold;
  color: #666;
}

.lista-de-tareas li.completed {
  text-decoration: line-through;
  color: #aaa;
}

.lista-de-tareas button {
  background-color: #40E0D0; /* Turquesa */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.lista-de-tareas button:hover {
  background-color: #008080; /* Turquesa más oscuro */
}

/* Dark mode for sidebar and tasks */
body.dark-mode #sidebar,
body.dark-mode .lista-de-tareas li {
  background-color: #006666; /* Turquesa oscuro */
  color: #020202; /* Texto en negro */
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select {
  background-color: #555;
  color: #ffffff;
  border: 1px solid #777;
}

/* Color del placeholder */
body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder {
  color: #ffffff;
}

body.dark-mode .lista-de-tareas li.completed {
  color: #020202; /* Texto en negro */
}
